.avatar {
    padding: 40px;
}

.card {
    position: relative;
}

.heart {
    display: block;
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
}

.like .heart {
    visibility: visible;
}